@import "./styles/root";

.wrapper-app {
  color: $black;
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 32px;
  border: 1px solid transparent;
  border-radius: 12px;
  gap: 8px;
  transition: background-color 0.3s;
  cursor: pointer;

  img{
      height: 18px;
    }
}
